.index{
    background-image: url(../img/background-dien-thoai-3d_011207832.jpg);
    @extend .bg-img;
    height: 100vh;
    @include reponsive("medium"){
        height: 120vh;
    }
    @include reponsive("small"){
        height: 125vh;
    }
    h1{
        padding-top: 100px;
        font-size: $fs-4;
        @include reponsive("large"){
            font-size: 60px;
            padding-left: 20%;
        }
        @include reponsive("medium"){
            padding-left: 10%;
            margin-bottom: 20%;
        }
    }
    .col-6{
        justify-content: center;
        margin-top: 10%;
        .wrapper{
            width: 40%;
            text-align: center;
            display: inline-block;
            margin: 0 150px;
            @include styleColor($color-white-3, rgb);
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s;
            &:hover{
                @include styleColor($color-black-1,rgba(255, 255, 255, 0.39));
            }
            .icon{
                font-size: $fs-4;
                margin-bottom: 30px;
                @include reponsive("large"){
                    font-size: $fs-5;
                    padding:0 15px ;
                }
                @include reponsive("small"){
                    padding:0 20px ;
                }
            }
            h3{
                font-size: $fs-3;
                color: $color-green-1;
                font-weight: $fw-2;
                @include reponsive("large"){
                    font-size: $fs-2;
                }
            }
            @include reponsive("medium"){
               margin: 0 80px;
            }
            @include reponsive("small"){
                margin: 0 100px;
            }
        }
    }
    }
    