.displayTheme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img,
.row .col-3 .card,
.user-second,
.main {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
  color: #656774;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  text-decoration: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.button-64:active {
  outline: 0;
}
.button-64:hover {
  outline: 0;
}
.button-64 span {
  background-color: #0a0042;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  font-size: 44px;
}

.button-64:hover span {
  background: none;
}

.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.main {
  background-image: url(../img/background-dien-thoai-3d_011207832.jpg);
  height: 100vh;
}
.main h1 {
  padding-top: 100px;
  font-size: 70px;
}
.main .col-6 {
  justify-content: center;
  margin-top: 100px;
}
.main .col-6 .wrapper {
  width: 250px;
  text-align: center;
  display: inline-block;
  margin: 0 150px;
  color: #fff;
  background-color: rgb;
  padding: 70px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.main .col-6 .wrapper:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.39);
}
.main .col-6 .wrapper .icon {
  font-size: 70px;
  margin-bottom: 30px;
}

.user-second {
  background-image: url(../img/hinh-anh-background-xanh-do-cuc-dep-1920x1067.jpg);
  padding-bottom: 50px;
}
.user-second .search {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.user-second .search .input-group {
  width: 30%;
}
.user-second .search .input-group #basic-addon2 {
  font-size: 25px;
  cursor: pointer;
}
.user-second .search .input-group #basic-addon2:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.user-second .search .input-group:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.header {
  color: #13aa52;
  background-color: #0a0042;
}
.header .nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header .nav h2 {
  padding-top: 50px;
}
.header button {
  position: relative;
}
.header button .quantity {
  position: absolute;
  top: -15px;
  right: 20px;
  color: #13aa52;
  font-weight: 700;
}

.row .col-3 {
  margin-bottom: 20px;
  position: relative;
}
.row .col-3 .card {
  background-image: url(../img/images.jpg);
  border-radius: 15px;
}
.row .col-3 .imgtheme {
  text-align: center;
}
.row .col-3 .imgtheme img {
  margin: 30px;
  width: 60%;
}
.row .col-3 .imgtheme h3 {
  color: #1c83ac;
  margin: 10px;
}
.row .col-3 .imgtheme p {
  color: #d70018;
  font-weight: 700;
  font-size: 20px;
}
.row .over_lay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  color: #e2ebfc;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 15px;
  margin: 0 10px;
  opacity: 0;
  transition: all 0.5s;
}
.row .over_lay:hover {
  opacity: 1;
}
.row .over_lay:hover ul {
  transform: translateY(0px);
}
.row .over_lay:hover .btn-add {
  transform: translate(-10px, -20px);
}
.row .over_lay ul {
  list-style: none;
  margin-top: 50px;
  font-size: 18px;
  transform: translateY(100px);
  transition: all 0.8s;
  overflow: hidden;
}
.row .over_lay ul h3 {
  text-align: center;
  color: #13aa52;
  font-weight: 700;
}
.row .over_lay .btn-add {
  transition: all 0.8s;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.footer {
  background-color: #0a0042;
}
.footer .contact {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
}
.footer .contact__item {
  text-align: start;
  margin-top: 30px;
  color: #f5f9fe;
}
.footer .contact__item h2 {
  font-weight: 700;
  color: #13aa52;
}
.footer .contact__item p {
  padding: 0 50px 0 50px;
}
.footer .contact__item ul {
  list-style: none;
}
.footer .contact__item ul li {
  margin: 10px;
}
.footer .contact__item ul a {
  text-decoration: none;
  font-size: 20px;
  color: #f5f9fe;
}
.footer .contact__item ul a:hover {
  color: #13aa52;
  transition: all 0.5s;
}
.footer .copyright {
  color: #13aa52;
  background-color: #e2ebfc;
  text-align: center;
  padding: 10px 0;
}

.modal-dialog {
  width: 120%;
  color: #13aa52;
  background-color: #e2ebfc;
  border-radius: 10px;
  border: 3px solid #13aa52;
  text-align: center;
}
.modal-dialog .money {
  text-align: right;
  margin-right: 20px;
  color: #d70018;
  font-weight: 700;
}
.modal-dialog h2 {
  font-size: 44px;
  background-color: #0a0042;
  padding: 10px 0;
}
.modal-dialog h3 {
  padding: 100px 0;
  color: #d70018;
  font-weight: 700;
}
.modal-dialog .listCard li {
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  align-items: center;
  justify-content: space-around;
  border: 2px;
  font-size: 15px;
  margin-bottom: 20px;
}
.modal-dialog .listCard li::after {
  content: "";
  width: 370%;
  height: 3px;
  border-radius: 3px;
  border: 2px dashed #13aa52;
  margin-top: 20px;
}
.modal-dialog .listCard li .nameProduct {
  color: #13aa52;
  font-weight: 700;
}
.modal-dialog .listCard li .priceProduct {
  color: #d70018;
  font-weight: 700;
}
.modal-dialog .listCard li .input {
  display: flex;
}
.modal-dialog .listCard li .input button {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  line-height: 20px;
  margin: 0 8px;
} /*# sourceMappingURL=main.css.map */
