.displayTheme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img, body .user-second .row .main_col .card, body, .index {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heightvh {
  height: 100vh;
}

.height-percent {
  height: 100%;
}

.check {
  padding: 10px 25px;
}
.check:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: translateY(-2px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
  color: #656774;
}

/* .backtotop */
.backtotop {
  position: fixed;
  bottom: 50px;
  left: 20px;
  background-color: rgba(128, 128, 128, 0.521);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.backtotop.hidden {
  opacity: 0;
}
.backtotop a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.backtotop a i {
  color: #f5f9fe;
  font-size: 20px;
}

.displayTheme {
  position: fixed;
  bottom: 50px;
  right: 10px;
}
.displayTheme .closeShopping {
  position: relative;
}
.displayTheme .closeShopping .quantity {
  position: absolute;
  top: 0;
  right: 3px;
  color: #13aa52;
  font-weight: 700;
  font-size: 24px;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #6753e6 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  z-index: 999;
  cursor: pointer;
}
.button-64:active {
  outline: 0;
}
.button-64:hover {
  outline: 0;
}
.button-64 span {
  background-color: #0a0042;
  padding: 20px 20px 20px 5px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .button-64 span {
    font-size: 37px;
  }
}

.button-64:hover span {
  background: none;
}

.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: translateY(-2px);
}

.firework {
  position: fixed;
  width: 8px;
  height: 15px;
  border-radius: 25%;
  background-color: rgb(219, 5, 34);
  border-radius: 50%;
  animation: firework 2s forwards;
}

.notication, .hidden {
  position: fixed;
  top: 23%;
  left: 37%;
  display: none;
  color: #e2ebfc;
  background-color: rgba(185, 20, 125, 0.918);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  font-weight: 700;
  font-size: 25px;
  border-radius: 8px;
  padding: 5px;
  z-index: 99;
}
@media screen and (max-width: 768px) {
  .notication, .hidden {
    font-size: 1rem;
    left: 30%;
    top: 26%;
  }
}
@media screen and (max-width: 576px) {
  .notication, .hidden {
    left: 30%;
    top: 30%;
  }
}

@keyframes firework {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1500px) rotate(720deg);
    opacity: 0;
  }
}
.index {
  background-image: url(../img/background-dien-thoai-3d_011207832.jpg);
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .index {
    height: 120vh;
  }
}
@media screen and (max-width: 576px) {
  .index {
    height: 125vh;
  }
}
.index h1 {
  padding-top: 100px;
  font-size: 70px;
}
@media screen and (max-width: 992px) {
  .index h1 {
    font-size: 60px;
    padding-left: 10%;
  }
}
@media screen and (max-width: 768px) {
  .index h1 {
    padding-left: 10%;
    margin-bottom: 20%;
  }
}
.index .col-6 {
  justify-content: center;
  margin-top: 10%;
}
.index .col-6 .wrapper {
  width: 40%;
  text-align: center;
  display: inline-block;
  margin: 0 150px;
  color: #fff;
  background-color: rgb;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.index .col-6 .wrapper:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.39);
}
.index .col-6 .wrapper .icon {
  font-size: 70px;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .index .col-6 .wrapper .icon {
    font-size: 50px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 576px) {
  .index .col-6 .wrapper .icon {
    padding: 0 20px;
  }
}
.index .col-6 .wrapper h3 {
  font-size: 44px;
  color: #13aa52;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .index .col-6 .wrapper h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .index .col-6 .wrapper {
    margin: 0 80px;
  }
}
@media screen and (max-width: 576px) {
  .index .col-6 .wrapper {
    margin: 0 100px;
  }
}

body {
  background-image: url(../img/hinh-anh-background-xanh-do-cuc-dep-1920x1067.jpg);
}
body .user-first {
  height: 100%;
}
body .user-first .carousel-inner .image {
  background-position: center;
  width: 100%;
}
body .user-second {
  padding-bottom: 50px;
}
body .user-second .carousel {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
body .user-second .carousel .search {
  width: 100%;
}
body .user-second .carousel .search .input-group {
  width: 250px;
}
body .user-second .carousel .search .input-group #basic-addon2 {
  font-size: 30px;
  cursor: pointer;
}
body .user-second .carousel .search .input-group #basic-addon2:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
body .user-second .carousel .search .input-group:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
body .user-second .carousel .select {
  flex-direction: row-reverse;
  font-size: 30px;
  margin-bottom: 10px;
}
body .user-second .carousel .select #mySelect {
  border-radius: 7px;
  text-align: center;
  color: #656774;
}
body .user-second .reusultFind {
  color: #13aa52;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}
body .user-second .row .main_col {
  margin-bottom: 20px;
  position: relative;
}
body .user-second .row .main_col .card {
  background-image: url(../img/images.jpg);
  height: 100%;
  border-radius: 15px;
}
body .user-second .row .main_col .imgtheme {
  text-align: center;
}
body .user-second .row .main_col .imgtheme img {
  margin: 30px;
  width: 60%;
}
body .user-second .row .main_col .imgtheme h3 {
  color: #1c83ac;
  margin: 10px;
}
body .user-second .row .main_col .imgtheme p {
  color: #d70018;
  font-weight: 700;
  font-size: 30px;
}
body .user-second .row .over_lay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #e2ebfc;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 15px;
  margin: 0 10px;
  opacity: 0;
  transition: all 0.5s;
  z-index: 5;
}
body .user-second .row .over_lay:hover {
  opacity: 1;
}
body .user-second .row .over_lay:hover ul {
  transform: translateY(0px);
}
body .user-second .row .over_lay:hover .btn-add {
  transform: translate(-10px, -20px);
}
body .user-second .row .over_lay ul {
  list-style: none;
  margin-top: 50px;
  font-size: 18px;
  transform: translateY(100px);
  transition: all 0.8s;
  overflow: hidden;
}
body .user-second .row .over_lay ul li {
  margin-right: 5px;
}
body .user-second .row .over_lay ul h3 {
  text-align: left;
  color: #13aa52;
  font-weight: 700;
}
body .user-second .row .over_lay .btn-add {
  transition: all 0.8s;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.header {
  color: #13aa52;
  background-color: #0a0042;
}
.header .nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.header .nav img {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .header .nav img {
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .header .nav img {
    width: 120%;
    margin-top: 10px;
  }
}
.header .nav h2 {
  padding-top: 50px;
  font-size: 44px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .header .nav h2 {
    padding-top: 35px;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header .nav h2 {
    padding-top: 25px;
    font-size: 30px;
  }
}
.header .nav .button-37 {
  position: absolute;
  right: 3%;
  top: 40%;
}

footer {
  font-size: 20px;
  background-color: #0a0042;
  height: 100%;
}
footer .contact {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
}
@media screen and (max-width: 768px) {
  footer .contact {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
  }
  footer .contact .item-first {
    display: none;
  }
}
footer .contact__item {
  text-align: start;
  margin-top: 30px;
  color: #f5f9fe;
}
footer .contact__item h2 {
  font-weight: 700;
  color: #13aa52;
}
@media screen and (max-width: 992px) {
  footer .contact__item h2 {
    margin-left: 30px;
  }
}
footer .contact__item p {
  padding: 0 50px 0 50px;
}
@media screen and (max-width: 768px) {
  footer .contact__item p {
    padding: 0 0 0 30px;
  }
}
footer .contact__item ul {
  list-style: none;
}
footer .contact__item ul li {
  margin: 10px;
}
@media screen and (max-width: 768px) {
  footer .contact__item ul li {
    margin: 10px 5px;
  }
}
footer .contact__item ul a {
  text-decoration: none;
  color: #f5f9fe;
}
footer .contact__item ul a:hover {
  color: #13aa52;
  transition: all 0.5s;
}
@media screen and (max-width: 992px) {
  footer .contact__item ul a {
    font-size: 1rem;
  }
}
footer .copyright {
  color: #13aa52;
  background-color: #e2ebfc;
  text-align: center;
  padding: 10px 0;
  border-radius: 20px 20px 0 0;
}

.modal-dialog {
  color: #13aa52;
  background-color: #e2ebfc;
  border-radius: 10px;
  border: 3px solid #13aa52;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .modal-dialog {
    width: 70%;
    margin: 100px;
  }
}
.modal-dialog .money {
  text-align: right;
  margin-right: 20px;
  color: #d70018;
  font-weight: 700;
}
.modal-dialog h2 {
  font-size: 44px;
  background-color: #0a0042;
  padding: 10px 0;
}
.modal-dialog h3 {
  padding: 100px 0;
  color: #d70018;
  font-weight: 700;
}
.modal-dialog #body-confirm {
  color: #d70018;
  font-weight: 700;
  font-size: 25px;
}
.modal-dialog .bodyModal {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 0.5fr 0.5fr;
  align-items: center;
  justify-content: space-evenly;
  border: 2px;
  font-size: 15px;
  margin-bottom: 20px;
}
.modal-dialog .bodyModal .modal_img {
  width: 50%;
  margin-left: -60px;
}
@media screen and (max-width: 576px) {
  .modal-dialog .bodyModal .modal_img {
    margin-top: 20%;
  }
}
.modal-dialog .bodyModal .nameProduct {
  color: #13aa52;
  font-weight: 700;
  padding: 30px 20px 30px 0;
  margin-left: -80px;
}
@media screen and (max-width: 576px) {
  .modal-dialog .bodyModal .nameProduct {
    padding: 30px 5px 30px 20px;
    font-size: 13px;
  }
}
.modal-dialog .bodyModal .input {
  display: flex;
}
.modal-dialog .bodyModal .input button {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  line-height: 18px;
  font-size: 25px;
  border: 1px solid white;
  color: #e2ebfc;
  background-color: #d70018;
}
.modal-dialog .bodyModal .input button:hover {
  background-color: rgba(190, 21, 21, 0.918);
}
.modal-dialog .bodyModal .input .quantityProduct {
  padding: 0 7px;
  font-size: 1rem;
  font-weight: 700;
}
.modal-dialog .bodyModal .modal_price {
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
}
.modal-dialog .bodyModal .remove {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #d70018;
  font-weight: 700;
  color: #e2ebfc;
  background-color: #d70018;
  margin: 10px;
}
.modal-dialog .bodyModal .remove:hover {
  background-color: rgba(190, 21, 21, 0.918);
}/*# sourceMappingURL=main.css.map */