//reset tất cả style mặc định của trình duyệt
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 16px;
    color:$color-dark-1;
}
