
  
.firework {
    position: absolute;
    width: 8px;
    height: 15px;
    border-radius: 25%;
    background-color:rgb(219, 5, 34);
    border-radius: 50%;
    animation: firework 2s forwards;
}
.hidden{
    display: none;
    @include colorWeight(rgb(219, 77, 96),$fw-3);
    font-size: 35px;
    text-align: center;
    border-radius: 8px;
    z-index: 4;
}

.notication{
  display: none;
  @include styleColor($color-white-2,rgba(185, 20, 125, 0.918));
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  font-weight: $fw-3;
  font-size: $fs-7;
  border-radius: 8px;
  padding: 5px;
  position: fixed;
  top: 23%;
  left: 37%;
  z-index: 99;
  @include reponsive("medium"){
    font-size: $fs-1;
    left: 30%;
    top: 26%;
  }
  @include reponsive("small"){
    left: 30%;
    top: 30%;
  }
}


//animation
//-firework
@keyframes firework {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1500px) rotate(720deg);
    opacity: 0;
  }
}



