@keyframes firework {
    0% {
      transform: translateY(0) rotate(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-1500px) rotate(720deg);
      opacity: 0;
    }
}
  
.firework {
    position: absolute;
    width: 8px;
    height: 15px;
    border-radius: 25%;
    background-color:rgb(219, 5, 34);
    border-radius: 50%;
    animation: firework 2s forwards;
}
.hidden{
    display: none;
    @include colorWeight(rgb(219, 77, 96),$fw-3);
    font-size: 35px;
    text-align: center;
    border-radius: 8px;
}
