.displayTheme{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.heightvh{
    height: 100vh;
}
.height-percent{
    height: 100%;
}

.check{
    padding: 10px 25px;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        transform: translateY(-2px);
    }
 }  

