.displayTheme{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
