@mixin styleColor ($color,$bg){
    color:$color;
    background-color: $bg;
}

@mixin direction($top,$bottom,$left,$right){
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin colums($display,$grColum){
    display: $display;
    grid-template-columns: $grColum;
}