@mixin styleColor ($color,$bg){
    color:$color;
    background-color: $bg;
}

@mixin direction($top,$bottom,$left,$right){
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin colums($display,$grColum){
    display: $display;
    grid-template-columns: $grColum;
}
@mixin colorWeight($color,$weight){
    color: $color;
    font-weight: $weight;
}

@mixin reponsive($screen){
    @if(map-has-key($map:$breakpoints , $key:$screen )){
        //lấy ra giá trị của screen trong mảng breakpoints
        $width:map-get($map:$breakpoints , $key:$screen );
        @media screen and (max-width: $width){
            @content;
        } 
    }@else{
        @warn "invalid creen"
    }
}