$color-dark-1: #656774;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-black-1:black;
$color-blue-1:#0a0042;
$color-blue-2:#1c83ac;
$color-green-1:#13aa52;
$color-red-1:#d70018;


//định nghĩa các biến cỡ chữ$fs-1: 14px;
$fs-1: 1rem;
$fs-2: 30px;
$fs-3: 44px;
$fs-4: 70px;
$fs-5:50px;


//định nghĩa độ đậm của chữ
$fw-1:400;
$fw-2:600;
$fw-3:700;

// ddinhj nghĩa breakpoint
$breakpoints:(
    "small":576px,
    "medium":768px,
    "large":992px,
    "extra-large":1200px
)

