// color
$color-whiteAD-1: #ffffff;
$color-darkAD-1: #292834;
$color-blueAD-1: #004dff;
$color-grayAD-1: #f5f7fa;
$color-grayAD-2: #cbd0dd;
$color-grayAD-3: #6e7891;
$color-pinkAD-1: pink;
$color-greenAD-1: #90d67f;
$color-redAD-1: #dc3545;
// font size
$fs-1: 0.5rem;
$fs-2: 0.75rem;
$fs-3: 1rem;
$fs-4: 1.25rem;
$fs-5: 1.5rem;
$fs-6: 1.75rem;
$fs-7: 2rem;
$fs-8: 2.25rem;
$fs-9: 2.5rem;
$fs-10: 2.75rem;
$fs-11: 3rem;
$fs-12: 3.25rem;
$fs-13: 3.5rem;
$fs-14: 3.75rem;
$fs-15: 4rem;
$fs-app: 13px;
// font weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
