.modal-dialog{
    // width: 120%;
    @include styleColor($color-green-1,$color-white-2);
    border-radius: 10px;
    border: 3px solid $color-green-1;
    text-align: center;
    @include reponsive("small"){
        width: 70%;
        margin:100px;
    }  
    .money{
        text-align: right;
        margin-right: 20px;
        color: $color-red-1;
        font-weight: $fw-3;
     }
    h2{
        font-size: $fs-3;
        background-color: $color-blue-1;
        padding: 10px 0;
    }
    h3{
        padding: 100px 0;
        color: $color-red-1;
        font-weight: $fw-3;
    }
    .bodyModal{
         @include colums(grid,3.5fr 1fr 1fr 1fr 0.5fr);
         align-items: center;
         justify-content: space-around;
         border: 2px ;
         font-size: 15px;
         margin-bottom: 20px;
         position: relative;
         .modal_img{
            width: 50%;
            margin-left: -40px;
         }
         .nameProduct{
          @include colorWeight($color-green-1,$fw-3);
          padding:10px 20px 10px 0;
          margin-left: -50px;
         }
         .priceProduct{
          @include colorWeight($color-red-1,$fw-3);
         }
         .input{
            display: flex;
            button{
                width: 20px;
                height: 20px;
                border-radius: 3px;
                line-height: 18px;
            }
         }
         .modal_price{
            font-size: $fs-7;
            font-weight: $fw-3;
            margin-left: 20px;
         }
         .remove{
            width: 50px;
            height: 50px;
            border-radius: 8px;
            border: 1px solid $color-red-1;
            font-weight: $fw-3;
            @include styleColor($color-white-2,$color-red-1);
            margin-left: 30px;
            &:hover{
                background-color: rgba(190, 21, 21, 0.918);
            }
         }
        }
      
        
}