footer{
    font-size: 20px;
    background-color: $color-blue-1;
    height: 100%;
    .contact{
        @include colums(grid,1.5fr 1.5fr 1fr);
        @include reponsive("medium"){
            @include colums(grid,2.5fr 1.5fr);
            .item-first{
                display: none;
            }
        }
        &__item{
            text-align: start;
            margin-top: 30px;
            color: $color-white-1; 
            h2{
                font-weight: $fw-3;
                color: $color-green-1;
                @include reponsive("large"){
                   margin-left: 30px;
                 }  
                 @include reponsive("medium"){
                  } 
            }
            p{
                padding: 0 50px 0 50px;
                @include reponsive("medium"){
                   padding: 0 0 0 30px;
                 }
            }
            ul{
                list-style: none;
                li{
                    margin: 10px; 
                    @include reponsive("medium"){
                    margin: 10px 5px;
                     }
                }
                a{
                    text-decoration: none;
                    color:$color-white-1 ;
                    &:hover{
                        color: $color-green-1;
                        transition: all .5s;
                    }
                    @include reponsive("large"){
                        font-size: $fs-1;
                    }
                }
            }
        }
    }
    .copyright{
        @include styleColor($color-green-1,$color-white-2);
        text-align: center;
        padding: 10px 0;
        border-radius: 20px 20px 0 0;
    }
    
}