
.header{
    @include styleColor($color-green-1,$color-blue-1);
    .nav{
        position: relative;
        @include colums(grid,1fr 2fr 1fr);
        img{
            width: 80%; 
            @include reponsive("medium"){
                  width:100%;  
                  margin-top: 10px;
            }
            @include reponsive("small"){
                    width: 120%;
                    margin-top: 10px;
            }
        }
        h2{
            padding-top: 50px;
            font-size: $fs-3;
            text-align: center;
            @include reponsive("large"){
                padding-top: 35px;
                font-size: $fs-2;
            }
            @include reponsive("medium"){
                 font-size: 30px;
                 padding-top: 55px;
            }
            @include reponsive("small"){
                padding-top: 20px;
            }
        }
        .button-37{
            position: absolute;
            right: 3%;
            top: 40%;
        }
    }
}

