body{
    background-image: url(../img/hinh-anh-background-xanh-do-cuc-dep-1920x1067.jpg);
    @extend .bg-img;
    height:100% ;
    .user-second{
        padding-bottom: 50px;
        .search{
            display: flex;
            justify-content: space-between;
            padding: 50px 0 10px 0 ;
            .input-group{
                width: 20%;
                @include reponsive("medium"){
                    width: 30%;
                }
                @include reponsive("small"){
                    width: 35%;
                }
                #basic-addon2{
                    font-size: 25px;
                    cursor: pointer;
                    &:hover{
                        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                    }
                }
                &:hover{
                    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
                }
            }
            
        } 
        .select{
            display: flex;
            flex-direction: row-reverse;
            padding: 0 0 50px 0;
            font-size:$fs-2 ;
            #mySelect{
                border-radius: 7px;
                text-align: center;
                color: $color-dark-1;
            }
        }
        .row{
            .main_col{
                .card{
                    background-image: url(../img/images.jpg);
                   @extend .bg-img;
                   height: 100%;
                   border-radius: 15px;
                   
        
                }
                margin-bottom: 20px;
                position: relative;
                
                .imgtheme{
                    text-align: center;
                    img{
                        margin: 30px;
                        width: 60%;
                    }
                    h3{
                        color: $color-blue-2;
                        margin: 10px;
                    }
                    p{
                        color: $color-red-1;
                        font-weight: $fw-3;
                        font-size: $fs-2;
                    }
                }
            }
            .over_lay{
                position: absolute;
                @include direction(0,0,0,0);
                @include styleColor($color-white-2,rgba(0, 0, 0, 0.781));
                border-radius: 15px;
                margin:0 10px;
                opacity: 0;
                transition: all 0.5s;  
                &:hover{
                opacity: 1;
                }
                &:hover ul{
                    transform: translateY(0px);
                }
                &:hover .btn-add{
                    transform: translate(-10px,-20px)
                }
                ul{
                    list-style: none;
                    margin-top: 50px;
                    font-size: 18px;
                    transform: translateY(100px);
                    transition: all .8s;
                    overflow: hidden;
                    li{
                        margin-right: 5px;
                    }
                    h3{
                        text-align: left;
                        color: $color-green-1;
                        font-weight: $fw-3;
                    }
                }
                .btn-add{
                    transition: all 0.8s;
                    position: absolute;
                    right: 0;
                    bottom: 0px;
                }
            }
        }
    
    }
}
 



