<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sản phẩm CyberPhone</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- (Optional) Use CSS or JS implementation -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
      integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../../asset/img/CellphoneS-Logo-PNG-2 (1).png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../asset/css/main.css" />
  </head>
  <body>
    <div id="popup" class="hidden">Cảm ơn bạn đã mua hàng!</div>
    <div class="notication">🗸 Thêm vào giỏ hàng thành công</div>
    <header class="header" id="header">
      <div class="container">
        <div class="nav">
          <a href="./user.html">
            <img
              src="../../asset/img/Screenshot 2023-07-14 220613.png"
              alt=""
            />
          </a>
          <h2>Sản phẩm CyberPhone</h2>
          <a href="../../index.html">
            <button class="button-37" role="button">Quay Lại</button>
          </a>
        </div>
      </div>
    </header>
    <main>
      <div class="user-first">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/banner-sliding-009-pro.jpg"
                class="d-block image"
                alt="bn1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/fold55.png"
                class="d-block image"
                alt="bn2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/xiaomi-note12-series-sliding-th8.png"
                class="d-block image"
                alt="bn3"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev pre"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="user-second">
        <div class="container user">
          <div class="carousel">
            <div class="search">
              <div class="input-group">
                <input
                  type="text"
                  id="txtSearch"
                  class="form-control"
                  placeholder="Sản phẩm khác"
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                />
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-search"></i
                ></span>
              </div>
            </div>
            <div class="select">
              <select id="mySelect">
                <option value="">All</option>
                <option value="iphone">Iphone</option>
                <option value="Samsung">Samsung</option>
                <option value="Xiaomi">Xiaomi</option>
              </select>
            </div>
          </div>

          <!-- product -->
          <div class="reusultFind"></div>
          <div class="row list" id="listProduct"></div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <section class="contact">
          <div class="contact__item item-first">
            <h2>CyberPhone</h2>
            <p>
              Thanks for shopping and welcome you the next time,We pride
              ourselves on our efficiency and hard work
            </p>
          </div>
          <div class="contact__item">
            <h2>CONTACT</h2>
            <ul>
              <li><a href="#">🏡112 Cao Thắng,P4,Q3</a></li>
              <li>
                <a href="mailto:cyberphone@mail.com" target="_blank"
                  >📧cyberphone@mail.com</a
                >
              </li>
              <li>
                <a href="tel:+ 01 234 567 88">🖁+01 234 567 88</a>
              </li>
            </ul>
          </div>
          <div class="contact__item">
            <h2>Social</h2>
            <ul>
              <li>
                <i class="fab fa-facebook-f"></i>
                <a href="https://www.facebook.com/lophocviet" target="_blank"
                  >FaceBook</a
                >
              </li>
              <li>
                <i class="fab fa-github"></i>
                <a
                  href="https://github.com/dannhu283/capstoneAPI.git"
                  target="_blank"
                  >GitHub</a
                >
              </li>
              <li>
                <i class="fab fa-youtube"></i>
                <a
                  href="https://www.youtube.com/channel/UCdcHKl4GXNq53fzmLx6SAwQ"
                  target="_blank"
                  >Youtube</a
                >
              </li>
            </ul>
          </div>
        </section>
        <section class="copyright">
          © 2022 Copyright: <a href="./user.html">CyberPhone</a>
        </section>
      </div>
    </footer>

    <!-- back to top -->
    <div class="backtotop" id="backtotop">
      <a href="#header">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
    <!--button cart -->
    <div class="buton displayTheme">
      <button
        class="button-64 shopping closeShopping"
        role="button"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
      >
        <span class="text">🛒</span>
        <h3 class="quantity" id="quantity"></h3>
      </button>
    </div>
  </body>

  <!-- modal cart-->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <header class="head-form mb-0">
          <h2 id="header-title">Giỏ Hàng</h2>
          <h3 class="notice">Giỏ hàng của bạn đang trống</h3>
          <div class="listCard"></div>
          <div class="money">Tổng tiền :$<span class="total">0</span></div>
        </header>
        <!-- Modal body -->
        <div class="modal-body"></div>

        <!-- Modal footer -->
        <div class="modal-footer" id="modal-footer">
          <button
            id="btnCapNhat"
            type="button"
            class="btn btn-success check"
            class="btn-close closeShopping"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Thanh toán
          </button>
          <button
            id="btnDong"
            type="button"
            class="btn btn-danger check"
            data-bs-target="#myModal"
            class="btn-close closeShopping"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Đóng
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal confirm pay -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" id="body-confirm">Bạn có đồng ý thanh toán</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger check"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
          >
            Kiểm tra
          </button>
          <button
            type="button"
            class="button-37"
            data-bs-dismiss="modal"
            id="confirm"
            onclick="pay()"
          >
            Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JavaScript Libraries -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../../admin/services/productAPI.js"></script>
  <script src="../../admin/model/products.js"></script>
  <script src="../controller/backToTop.js"></script>
  <script src="../controller/effect.js"></script>
  <script src="../controller/cart.js"></script>
  <script src="../../user/controller/main.js"></script>
</html>
