<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sản phẩm CyberPhone</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- (Optional) Use CSS or JS implementation -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
      integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../../asset/img/CellphoneS-Logo-PNG-2 (1).png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../asset/css/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="nav">
          <a href="./user.html"
            ><img
              width="50%"
              src="../../asset/img/Screenshot 2023-07-14 220613.png"
              alt="logo"
          /></a>
          <h2>Sản phẩm CyberPhone</h2>
          <div class="buton displayTheme">
            <button
              class="button-64 shopping closeShopping"
              role="button"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
            >
              <span class="text">🛒</span>
              <h3 class="quantity" id="quantity"></h3>
            </button>
          </div>
        </div>
      </div>
    </header>
    <main class="user-second">
      <div class="container user">
        <div class="carousel">
          <div class="search">
            <a href="../../index.html">
              <button class="button-37" role="button">Quay Lại</button>
            </a>
            <div class="input-group mb-3">
              <input
                type="text"
                id="txtSearch"
                class="form-control"
                placeholder="Nhập từ khoá"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  ><i class="fa fa-search"></i
                ></span>
              </div>
            </div>
          </div>
        </div>

        <!-- sản phẩm  -->
        <div class="row list" id="listProduct">
          <!-- <div class="col-4">
              <div class="card p-5 bg-danger">
                <div class="imgtheme">
                  <img
                    width="80%"
                    src="../../asset/img/shopping-bag6504.jpg"
                    alt="sp"
                  />
                  <h3>type</h3>
                  <p>gia</p>
                </div>
                <div class="infor d-flex">
                  <div
                    class="accordion accordion-flush"
                    id="accordionFlushExample"
                  >
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne"
                          aria-expanded="false"
                          aria-controls="flush-collapseOne"
                        >
                          name
                        </button>
                      </h2>
                      <div
                        id="flush-collapseOne"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          Screen backCamera, value.frontCamera,desc,
                        </div>
                      </div>
                    </div>
                  </div>
                  <button>add to cart</button>
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <section class="contact">
          <div class="contact__item item-first">
            <h2>🤖 CyberPhone</h2>
            <p>
              Thanks for shopping and welcome you the next time,We pride
              ourselves on our efficiency and hard work
            </p>
          </div>
          <div class="contact__item">
            <h2>CONTACT</h2>
            <ul>
              <li><a href="#">🏡 112 Cao Thắng,P4,Q3</a></li>
              <li>
                <a href="mailto:cyberphone@mail.com">📧 cyberphone@mail.com</a>
              </li>
              <li>
                <a href="tel:+ 01 234 567 88">🖁 +01 234 567 88</a>
              </li>
            </ul>
          </div>
          <div class="contact__item">
            <h2>Social</h2>
            <ul>
              <li>
                <i class="fab fa-facebook-f"></i>
                <a href="https://www.facebook.com/lophocviet">FaceBook</a>
              </li>
              <li>
                <i class="fab fa-github"></i>
                <a href="https://github.com/dannhu283/capstoneAPI.git"
                  >GitHub</a
                >
              </li>
              <li>
                <i class="fab fa-youtube"></i>
                <a href="#">Youtube</a>
              </li>
            </ul>
          </div>
        </section>
        <section class="copyright">
          © 2022 Copyright: <a href="./user.html">CyberPhone</a>
        </section>
      </div>
    </footer>
  </body>

  <!-- modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <header class="head-form mb-0">
          <h2 id="header-title">Giỏ Hàng</h2>
          <h3 class="notice">🤷‍♂️ Giỏ hàng của bạn đang trống 🤷‍♂️</h3>
          <ul class="listCard"></ul>
          <div class="money">Tổng tiền : <span class="total">0</span></div>
        </header>

        <!-- Modal Header -->
        <!-- 	<div class="modal-header">
					<h4 class="modal-title" id="modal-title">Modal Heading</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div> -->

        <!-- Modal body -->
        <div class="modal-body"></div>

        <!-- Modal footer -->
        <div class="modal-footer" id="modal-footer">
          <button
            id="btnCapNhat"
            type="button"
            class="btn btn-success"
            data-bs-target="#myModal"
            class="btn-close closeShopping"
            data-bs-dismiss="modal"
            aria-label="Close"
            onclick="pay()"
          >
            Thanh toán
          </button>
          <button
            id="btnDong"
            type="button"
            class="btn btn-danger"
            data-bs-target="#myModal"
            class="btn-close closeShopping"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Đóng
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JavaScript Libraries -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../../admin/services/productAPI.js"></script>
  <script src="../../admin/model/products.js"></script>
  <script src="../controller/cart.js"></script>
  <script src="../../user/controller/main.js"></script>
</html>
